.container{
    border: 1px solid black;
    height: 30px;
    width: 80px;
    border-radius: 18px;

    display: flex;
    justify-content:flex-start;
    align-items: center;

    background-color: aquamarine;
    padding:0px 2px ;
    
}
.box{
    height: 25px;
    border: 1px solid black;
    width: 25px;
    /* margin-left: 2px;
    margin-right: 2px; */
    border-radius: 50%;
    background-color: white;
    transition: all 3s ease;
}
/* span:hover{
    transform: translateX(100px);
} */

.sh{
    height: 25px;
    border: 1px solid black;
    width: 25px;
    /* margin-left: 2px;
    margin-right: 2px; */
    border-radius: 50%;
    background-color: white;
    transition: all 1s ease;
    transform: translateX(200%);
    background-color: black;
}
.gh{
     height: 25px;
    border: 1px solid black;
    width: 25px;
    /* margin-left: 2px;
    margin-right: 2px; */
    border-radius: 50%;
    background-color: white;
    transition: all 1s ease;
    transform: translateX(0%);
    background-color: white;
}
